body {
    font-family: 'Poppins', sans-serif;
    background: rgb(97,144,232);
background: linear-gradient(90deg, rgba(97,144,232,1) 0%, rgba(167,191,232,1) 35%);
}

.bg_green {
    background-color: #70e870!important;
}

.bg_red {
    background-color: #eb5353!important;
}

.icon {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
}

.icon img {
    width: 100%;
    height: 100%;
}

